.customForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    

    &__list {
        list-style: none;
        padding: 0;
    }

    .customForm__item {

        &--input {
            border: none;
            border-bottom: 2px solid #000;
            outline: none;
            padding: 5px 0;
            font-size: 16px;
            transition: border-color 0.3s ease;
            width: 300px
        }
    }
}

.customForm__item--input:focus::placeholder {
    color: transparent;
    transition: color 0.5s ease;
}

.customForm__item--input:focus {
    border-bottom-color: #007bff;
}

.formFooter__button{
    display: flex;
    gap: 50px;
    justify-content: center;
}

