.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }

    &__list{
        padding: 0;
        text-align: left;
        list-style: none;
    }
}

.title{
    margin-bottom: 0;
}

.exit__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}